pkp/peak-patch-runs
ica/peak-patch-runs

ica/__pycache__/
ica/__pycache__/ica_test_Jonathan.cpython-39.pyc
ica/__pycache__/ica_test_Jonathan.cpython-310.pyc

ica/modules/__pycache__/

rica/torchvision_cifar10

/mnt/scratch-lustre/njcarlson/peak-patch-runs/ng7_test_oct6
/mnt/scratch-lustre/njcarlson/peak-patch-runs/s4k_n236_nb20_nt10_ng6_nside2048